<ion-view view-title="Avatar">
  <ion-content>
	 &nbsp; &nbsp; &nbsp;
  	<div class="list" >
        <ion-item class="profile-item">
          
          <div class="avatar-picture big-profile-picture">
             <img src="img/profil.svg">
          </div>
		
		  <div class="avatar-name">
		  	<center >
			 	<h2 class="dark">Avatar Name</h2>
			  	<p>Level 10</p>
			 </center>
		  	
		  </div>
         	<br>
         	<br>
         
		  <ion-scroll scrollX="true" style="height: 270px" direction="x">
			 <div class="card item_bad test">
				  <div class="item item-text-wrap header">
				    <a href="#"><img src="img/badge_sec.svg"></a>
				  </div>
				  <div class="item item-footer item-card">
				   <a href="#/app/profil/avatar" >Disponible</a>
				  </div>			  
			 </div>

			  <div class="card item_bad">
				  <div class="item item-text-wrap header">
				    <a href="#"><img src="img/badge_sec.svg"></a>
				  </div>
				  <div class="item item-footer item-card">
				   <a href="#/app/profil/avatar" >Disponible</a>
				  </div>			  
			 </div>

			  <div class="card item_bad">
				  <div class="item item-text-wrap header">
				    <a href="#"><img src="img/badge_sec.svg"></a>
				  </div>
				  <div class="item item-footer item-card">
				   <a href="#/app/profil/avatar" >Disponible</a>
				  </div>			  
			 </div>

			 <div class="card item_bad">
				  <div class="item item-text-wrap header">
				    <a href="#"><img src="img/badge_sec.svg"></a>
				  </div>
				  <div class="item item-footer item-card">
				   <a href="#/app/profil/avatar" >Disponible</a>
				  </div>			  
			 </div>

			 <div class="card item_bad">
				  <div class="item item-text-wrap header">
				    <a href="#"><img src="img/badge_sec.svg"></a>
				  </div>
				  <div class="item item-footer item-card">
				   <a href="#/app/profil/avatar" >Disponible</a>
				  </div>			  
			 </div>

			 
		  </ion-scroll>

		 </ion-item>
		 
		 <center>

		 	<a class="button icon-right button-large button-energized" href="#/app" >Sélectionner</a>

		 </center>

		 
		 
<!--

          <div ng-hide="isloggedin"
   style="text-align:center;font-size:600%;margin-top:25%;left: 50%;">     
       <i class="icon ion-locked"></i>
      
 		 </div>
		
     -->  
        
    </div>





	 

  </ion-content>
</ion-view>