<ion-view view-title="Badges">
  <ion-content>

 	 <div class="row">
        
        <div class="col col-33">
        	<div class="card bad">
			  <div class="item item-text-wrap header">
			    <a href="#/app/profil/badges"><img class="full-image" src="img/badge_key.svg"></a>
			  </div>			  
			</div>
        </div>

        <div class="col col-33">
        	<div class="card bad">
			  <div class="item item-text-wrap header">
			    <a href="#/app/profil/badges"><img class="full-image" src="img/badge_prov.svg"></a>
			  </div>			  
			</div>
        </div>

        <div class="col col-33">
        	<div class="card bad">
			  <div class="item item-text-wrap header">
			    <a href="#/app/profil/badges">
			    	<img class="full-image" src="img/sec.svg"></a>
			  </div>			  
			</div>
        </div>
        
       
    </div>

	<div class="row">
        
        <div class="col">
        	<div class="card bad">
			  <div class="item item-text-wrap header">
			    <a href="#/app/profil/badges"><img class="full-image" src="img/badge_sec.svg"></a>
			  </div>			  
			</div>
        </div>

        <div class="col">
        	<div class="card bad">
			  <div class="item item-text-wrap header">
			    <a href="#/app/profil/badges"><img class="full-image" src="img/badge_sec.svg"></a>
			  </div>			  
			</div>
        </div>

        <div class="col ">
        	<div class="card bad">
			  <div class="item item-text-wrap header">
			    <a href="#/app/profil/badges">
			    	<img class="full-image" src="img/badge_sec.svg"></a>
			  </div>			  
			</div>
        </div>
        
       
    </div>

     <div class="row">
        
        <div class="col">
        	<div class="card bad">
			  <div class="item item-text-wrap header">
			    <a href="#/app/profil/badges"><img class="full-image" src="img/badge_sec.svg"></a>
			  </div>			  
			</div>
        </div>

        <div class="col">
        	<div class="card bad">
			  <div class="item item-text-wrap header">
			    <a href="#/app/profil/badges">
			    	<img class="full-image" src="img/badge_sec.svg"></a>
			  </div>
			</div>			  
		</div>

        <div class="col">
        	<div class="card bad">
			  <div class="item item-text-wrap header">
			    <a href="#/app/profil/badges">
			    	<img class="full-image" src="img/badge_sec.svg"></a>
			  </div>			  
			</div>
        </div>
        
    </div>

	 <div class="row">
        
        <div class="col">
        	<div class="card bad">
			  <div class="item item-text-wrap header">
			    <a href="#/app/profil/badges"><img class="full-image" src="img/badge_sec.svg"></a>
			  </div>			  
			</div>
        </div>

        <div class="col">
        	<div class="card bad">
			  <div class="item item-text-wrap header">
			    <a href="#/app/profil/badges">
			    	<img class="full-image" src="img/badge_sec.svg"></a>
			  </div>
			</div>			  
		</div>

        <div class="col">
        	<div class="card bad">
			  <div class="item item-text-wrap header">
			    <a href="#/app/profil/badges">
			    	<img class="full-image" src="img/badge_sec.svg"></a>
			  </div>			  
			</div>
        </div>
        
    </div>

	 

  </ion-content>
</ion-view>