<ion-view view-title="Ligne">
  <ion-content>
    <ul class="list">
	  	
	  		<a class=" item item-icon-right " href="#/app/lignex">
			   <i class="icon ion-ios-star-outline" style="color:#ffd54f !important;"></i>
			   Ligne 1
			</a>	

			<a class=" item item-icon-right " href="#/app/lignex">
			   <i class="icon ion-ios-star-outline" style="color:#ffd54f !important;"></i>
			   Ligne 2
			</a>

			<a class=" item item-icon-right " href="#/app/lignex">
			   <i class="icon ion-ios-star-outline" style="color:#ffd54f !important;"></i>
			   Ligne 3
			</a>

			<a class=" item item-icon-right " href="#/app/lignex">
			   <i class="icon ion-ios-star-outline" style="color:#ffd54f !important;"></i>
			   Ligne 4
			</a>						
	</ul>
	
  </ion-content>
</ion-view>
