<ion-view view-title="Ma collection">
  <ion-content>
    <ul class="list">
	  	
	  		<a class=" item item-icon-right " href="#/app/lignex">
			   <i class="icon ion-ios-plus" style="color:#ffd54f !important;"></i>
			   Nom de la Collection 1
			</a>	

			<a class=" item item-icon-right " href="#/app/lignex">
			   <i class="icon ion-ios-plus" style="color:#ffd54f !important;"></i>
			   Nom de la Collection 2
			</a>

			<a class=" item item-icon-right " href="#/app/lignex">
			   <i class="icon ion-ios-plus" style="color:#ffd54f !important;"></i>
			    Nom de la Collection 3
			</a>

			<a class=" item item-icon-right " href="#/app/lignex">
			   <i class="icon ion-ios-plus" style="color:#ffd54f !important;"></i>
			    Nom de la Collection 4
			</a>						
	</ul>
	
  </ion-content>
</ion-view>
