<ion-view view-title="Be On Time">
  <ion-content>
   <form >
      <div class="list list-inset card_login">

        <h3>Créer un nouveau compte</h3>
        
        <span class="input-label">Pseudo</span>
        <label class=" item item-input">         
          <input type="text" ng-model="inscriptionData.username" placeholder="john@suhr.com">
        </label>
        <br>

        <span class="input-label">Prénom</span>
        <label class=" item item-input">         
          <input type="text" ng-model="inscriptionData.username" placeholder="john@suhr.com">
        </label>
        <br>

         <span class="input-label">Nom</span>
        <label class=" item item-input">         
          <input type="text" ng-model="inscriptionData.username" placeholder="john@suhr.com">
        </label>
        <br>

         <span class="input-label">Email</span>
        <label class=" item item-input">         
          <input type="text" ng-model="inscriptionData.username" placeholder="john@suhr.com">
        </label>
        <br>

         <center>
          <svg width="250px" height="3px" viewBox="0 0 347 3" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path class="animated-svg"  d="M1.5,1.5 L345.5,1.5" id="Line" stroke="#005064" stroke-width="3"></path>
          </svg>
        </center>

        <span class="input-label">Mot de passe</span>
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
         <input type="password" ng-model="inscriptionData.password" placeholder="">
        </label>
        <br>

        <span class="input-label">Confirmer le mot de passe</span>
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
         <input type="password" ng-model="inscriptionData.password" placeholder="">
        </label>

        &nbsp;
         <center>
        <a class="button button-block button-energized" href="#/app/login">Inscription</a>


      </div>
    </form>
  </ion-content>
</ion-view>

<!--
<ion-modal-view>
  <ion-header-bar class="item-title">
    <h1 class="title ">Be On Time</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content >
    <form ng-submit="login()">
      <div class="list list-inset card_login">

        <h3>Créer un nouveau compte</h3>
        
        <span class="input-label">Pseudo</span>
        <label class=" item item-input">         
          <input type="text" ng-model="loginData.username" placeholder="john@suhr.com">
        </label>
        <br>

        <span class="input-label">Prénom</span>
        <label class=" item item-input">         
          <input type="text" ng-model="loginData.username" placeholder="john@suhr.com">
        </label>
        <br>

         <span class="input-label">Nom</span>
        <label class=" item item-input">         
          <input type="text" ng-model="loginData.username" placeholder="john@suhr.com">
        </label>
        <br>

         <span class="input-label">Email</span>
        <label class=" item item-input">         
          <input type="text" ng-model="loginData.username" placeholder="john@suhr.com">
        </label>
        <br>

         <center>
	        <svg width="250px" height="3px" viewBox="0 0 347 3" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	        <path class="animated-svg"  d="M1.5,1.5 L345.5,1.5" id="Line" stroke="#005064" stroke-width="3"></path>
	        </svg>
        </center>

        <span class="input-label">Mot de passe</span>
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
         <input type="password" ng-model="loginData.password" placeholder="">
        </label>
        <br>

        <span class="input-label">Confirmer le mot de passe</span>
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
         <input type="password" ng-model="loginData.password" placeholder="">
        </label>

        &nbsp;
         <center>
        <button class="button button-block button-energized" type="submit">Inscription</button>


      </div>
    </form>

 </ion-content>
</ion-modal-view>
-->
