<ion-view view-title="Ligne X">
  <ion-content>
  	<div class="ligne">

  		<div class="row header ">
     	  <div class="col"></div>
          <div class="col">1</div>
          <div class="col">2</div>
          <div class="col">3</div>
          <div class="col">4</div>
          <div class="col">5</div>
      </div>
      <div class="row">
		  <div class="col">arret2</div>
		  <div class="col">8:30</div>
		  <div class="col">-</div>
		  <div class="col">-</div>
		  <div class="col">5:60</div>
		  <div class="col">4:00</div>
	  </div>

	  <div class="row">
		  <div class="col">arret3</div>
		  <div class="col">8:30</div>
		  <div class="col">-</div>
		  <div class="col">-</div>
		  <div class="col">5:60</div>
		  <div class="col">4:00</div>
	  </div>

	  <div class="row">
		  <div class="col">arret4</div>
		  <div class="col">8:30</div>
		  <div class="col">-</div>
		  <div class="col">-</div>
		  <div class="col">5:60</div>
		  <div class="col">4:00</div>
	  </div>
  		
  	</div>
     

    

  </ion-content>
</ion-view>
