
<ion-view view-title=" Resultats ">
  <ion-content>
    <br>

    <div class="list">

	    <div class=" item header_item">

	    	<div class = "item-input">
		      <label class = "item-input-wrapper">
		         <span> De| </span>
		         <input type = "text" placeholder = "Placeholder 2" />
		      </label>

		     <button class="button button-dark" >
		          <i class="icon ion-arrow-swap change1"></i>
		      </button>
		     

		      <button class="button button-stable">départ</button>
			  <button class="button button-dark" style="color:white !important;">arrivé</button>
		    </div>

		    <div class = "item-input">
		      <label class = "item-input-wrapper">
		         <span> À| </span>
		         <input type = "text" placeholder = "Placeholder 2" />
		      </label>

		      <label class="item-input-wrapper">
		          <input type="time" placeholder="">
		        </label>

		    </div>
<!--
			<div>
				<button class="button button-stable">départ</button>
				<button class="button button-dark" style="color:white !important;" >arrivé</button>

				<div class=" item-input-inset">
					<label class="item-input-wrapper">
			          <input type="time" placeholder="">
			        </label>
				</div>
			</div>
-->

		</div>	

		<br>


		<div class="item item-title">
		  
		     Dans 15 min
		    <span class="item-note">
		       <i class="icon ion-alert-circled"></i>retard 5min
		    </span>
		</div>

		<div class="item item-trajet item-text-wrap">
			<center>
				<a href="#/app/trajet"">
				9:30 <i class="icon ion-ios-location "></i>

				<svg width="250px" height="3px" viewBox="0 0 347 3" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			    <path class="animated-svg"  d="M1.5,1.5 L345.5,1.5" id="Line" stroke="#005064" stroke-width="3"></path>
			    </svg>

			   	<i class="icon ion-ios-location "></i>12:30
			   	<p>Dure: 10 min</p>

			   	<img src="http://www.auvergne-mobilite.fr/design/default/base/bundles/canaltpfrontcore/images/modes/bus.png" title="Bus" alt="Bus">
				<span class="ctp-line-code" style="background-color:#FFCC00; color:#FFFFFF">L</span>
				</a>


				<p>
			      <a href="#/app/trajet"> <i class="icon ion-heart"></i></a>
			      <a href="#/app/trajet" class="subdued">5 Comments</a>
			    </p>
			</center>
			
			<a href="#/app/trajet" class="item-icon-right" >
					<div class="icon">
		               <span class=" ion-heart"> </span>
		               &nbsp; &nbsp; &nbsp;
		               <span class=" ion-chevron-right"></span>
	        		</div>
        	</a>
			
		</div>



		<div class="card">
			<div class="item item-title">
			  
			     Dans 15 min
			    <span class="item-note">
			       <i class="icon ion-alert-circled"></i>retard 5min
			    </span>
			</div>

			<div class="item item-trajet item-text-wrap">
				<center>
					<a href="#/app/trajet">
					9:30 <i class="icon ion-ios-location "></i>

					<svg width="250px" height="3px" viewBox="0 0 347 3" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				    <path class="animated-svg"  d="M1.5,1.5 L345.5,1.5" id="Line" stroke="#005064" stroke-width="3"></path>
				    </svg>

				   	<i class="icon ion-ios-location "></i>12:30
				   	<p>Dure: 10 min</p>

				   	<img src="http://www.auvergne-mobilite.fr/design/default/base/bundles/canaltpfrontcore/images/modes/bus.png" title="Bus" alt="Bus">
					<span class="ctp-line-code" style="background-color:#FFCC00; color:#FFFFFF">L</span>
					</a>


					<p>
				      <a href="#/app/trajet"> <i class="icon ion-heart"></i></a>
				      <a href="#/app/trajet" class="subdued">5 Comments</a>
				    </p>
				</center>
				
				<a href="#/app/trajet" class="item-icon-right" >
					<div class="icon">
		               <span class=" ion-heart"> </span>
		               &nbsp; &nbsp; &nbsp;
		               <span class=" ion-chevron-right"></span>
	        		</div>
        	    </a>
				
			</div>
			

		</div>	

      
      
   
      
      

    </div>

  </ion-content>

</ion-view>
