<ion-view view-title="Recherche">
  <ion-content>
    <br>

    <div class="list">
      
      <!--DATE-TIME-->
      <div class="item item-input-inset header_item">

        <img class='time item_picto' src='img/calendar.svg'>

        <label class="item-input-wrapper">
          <input type="date" placeholder="">
        </label>

        <img class='time item_picto' src='img/retard.svg'>

        <label class="item-input-wrapper">
          <input type="time" placeholder="">
        </label>

      </div>

      <!--DEPART-->
      <div class="card depart">
        <div class="item ">
            <span class="input-label">Départ</span>
            <div class="item-input-inset">
              <label class="item-input-wrapper">
                 <span> De| </span>
                <input type="search" placeholder="Search">
              </label>
              <i class="icon ion-ios-location location"></i>
            </div>
        </div>
      </div>
      
      
        <button class="" >
          <i class="icon ion-arrow-swap"></i>
        </button>
      <i class="icon ion-arrow-swap change"></i>

      <!--ARRIVÉ-->
      <div class="card arrive">
        <div class="item ">
          <span class="input-label">Arrivé</span>
              <div class="item-input-inset">
                <label class="item-input-wrapper">
                   <span> De| </span>
                  <input type="search" placeholder="Search">
                </label>
                <i class="icon ion-ios-location location"></i>
              </div>
        </div>
      </div>
      
      <center>
        <a class="button button-energized" href="#/app/trajets" style="font-weight: bold;" ">Recherche</a></center>
      
     

    </div>

  </ion-content>

</ion-view>



